* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 100%;
    max-width: 900px;
    margin-inline: auto;
}

#header {
    min-height: 100vh;
    width: 100%;
    background-color: antiquewhite;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
}

/* .logo {
    font-size: 20px;
} */

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hero {
    margin-top: 250px;
    display: flex;
    justify-content: center;
}